.button {
  text-align: center;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 28px;
  //border: solid 2px $color2;
  //color: $color2;
  font-weight: bold;
  font-size: 1.1rem;
  // ana sayfada kullanılan Kullanıcı girişi, gönder, pesonel ara gibi button türü
  &-regular {
    @extend .button;
    background-color: transparent;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      //background-color: $color2;
      //color: $color1;
      transition: all 0.5s;
    }

    @media only screen and (max-width: $sm) {
      min-width: 104px;
      min-height: 36px;
    }
    @media only screen and (min-width: $sm) and (max-width: $md) {
      min-width: 154px;
      min-height: 46px;
    }
    @media only screen and (min-width: $md) {
      min-width: 200px;
      min-height: 50px;
    }
  }
}
