input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
.gCombo,
.gCombo2 {
  border-radius: 28px;
  border: solid 2px #fff;
  //background-color: transparent;
  //padding: 0 10px 0 10px;
  font-size: 16px;
  //color: $color1;
  height: 56px;
  max-height: 56px;
  width: 100%;
  min-width: 204px;
}

textarea {
  border-radius: 28px;
  border: solid 2px #fff;
  //background-color: transparent;
  font-size: 16px;
  //color: $color1;
  min-height: 134px;
  height: auto;
  width: 100%;
  min-width: 204px;
  padding: 2%;
  resize: none;
}

input::after {
  //content: "";
}

.input-regular {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1%;
  @media only screen and (max-width: $sm) {
    width: 100%;
  }
  @media only screen and (min-width: $sm) and (max-width: $md) {
  }
  @media only screen and (min-width: $md) {
  }
  > span {
    width: 100%;
    font-size: 16px;
    margin: 1%;
    //color: $color1;
  }
}

input[type="radio"] {
  height: 25px;
  max-height: 25px;
  min-width: 25px;
  //accent-color: $color2;
}
input[type="checkbox"] {
  height: 30px;
  max-height: 30px;
  min-width: 30px;
  //accent-color: $color2;
}

input {
  text-indent: 5%;
}
