.selection {
  background-color: $color-white;
  cursor: pointer;
  color: $color-select-text;
  border-radius: 5px;
  border: 1px solid $color-select-border;
  font-size: $font-size-small;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  &-passive {
    @extend .selection;
    background-color: $color-select-passive !important;
    color: $color-select-passive-text !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.filter-select {
  width: 100%;
  height: 35px;
  object-fit: contain;
  border-radius: 5px;
  border: solid 0.5px #aaa;
  background-image: linear-gradient(to top, #e2e2e2, #f6f6f6);
  color: #999;
}
