//screen sizes
$sm: 830px;
$md: 1281px;

//Icons
.icon-positive::after {
  content: "\274C";
}

.icon-negative::after {
  content: "\2705";
}

//Colors
$clr1: #4392f1;
$clr2: #ece8ef;
$clr3: #e3ebff;
$clr4: #e7f0ff;
$clr5: #dc493a;
$clr6: #f9f9f9;
