@import "./abstracts/variables";
@import "./base/buttons";
@import "./base/inputs";
@import "./components/containers";
@import "./components/dynamic";
@import "./components/pages";
@import "./components/links";
@import "./pages/anasayfa";
@import "./pages/anlasmaliKuruluslar";
@import "./pages/baskan";
@import "./pages/iletisim";
@import "./pages/yonetimKurulu";
@import "./pages/nasilUyeOlabilirim";
@import "./layouts/footer";
@import "./layouts/header";
@import "./base/base";

* {
  font-family: Izmir;
  margin: 0 auto;
  box-sizing: border-box;
}
html {
  height: 100%;
  z-index: 1;
}
header {
  //position: sticky;
  z-index: 1;
}
footer {
  z-index: 0;
}
body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #e3ebff;
  background-repeat: repeat;
  scroll-behavior: smooth;
}
main {
  width: 100%;
  height: max-content;
  flex-grow: 1;
  //
  display: flex;
  flex-direction: column;
}

.bgVideoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  .bgVideo {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

//SCROLLBAR

@media only screen and (min-width: $sm) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2f68bd;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  }
}
@media print {
  .noPrint {
    display: none;
  }
}

.yatayPrint {
  transform: rotate(-90deg);
}
