<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intranet</title>
    <link rel="shortcut icon" href="./Assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="./Assets/fonts/izmir/fonts.css" />
    <link rel="stylesheet" type="text/css" href="./Assets/scss/main.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="dynamic">
        <div class="gCombo">
          <input placeholder="" />
          <div>
            <option value="1">AWDWADWD</option>
            <option value="2">XVCBBVCXXCVB</option>
            <option value="3">
              AB HİBE PROJELERİ ŞUBE MÜDÜRLÜĞÜAB HİBE PROJELERİ ŞUBE MÜDÜRLÜĞÜ
            </option>
          </div>
          <input style="display: none" />
        </div>
      </div>
    </main>
    <footer></footer>
    <!-- <script src="./Assets/scripts/main.js"></script> -->
    <script src="Assets/scripts/main.js"></script>
  </body>
</html>
