<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intranet</title>
    <link rel="shortcut icon" href="./Assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="./Assets/fonts/izmir/fonts.css" />
    <link rel="stylesheet" type="text/css" href="./Assets/scss/main.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="dynamic">
        <div class="gPopup">
          <div class="gPopup-inner"></div>

          <div class="gPopup-exit" onclick="this.parentElement.style['top'] = '-200%'"></div>
        </div>
        <button
          class="p-bold"
          onclick="document.getElementsByClassName('gPopup')[0].style['top'] = '0%'"
        >
          gPopup!
        </button>
      </div>
    </main>
    <footer></footer>
    <script src="./Assets/scripts/main.js"></script>
  </body>
</html>
