<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empty Tab Page</title>
    <link rel="shortcut icon" href="./Assets/img/favicon.png" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./Assets/fonts/izmir/fonts.css"
    />
    <link rel="stylesheet" type="text/css" href="./Assets/scss/main.css" />
  </head>
  <body>
    <header></header>
    <main>
      <h3 class="title-h">Başlık</h3>
      <div class="dynamic">
        <div class="gTabs">
          <div class="gTabs-buttons">
            <button>content</button>
            <button>content2</button>
            <button>content3</button>
          </div>
          <div class="gTabs-content">content</div>
          <div class="gTabs-content">content2</div>
          <div class="gTabs-content">content3</div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="./Assets/scripts/main.js"></script>
  </body>
</html>
