.anlasmaliKuruluslar {
  > .anlasmaliKurulusListesi {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    .anlasmaliKurulus {
      width: 30.3%;
      min-height: 55vh;
      margin: 1.5%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      transition: all 500ms;
      > img {
        max-height: 50vh;
        width: 90%;
      }
      .title {
        color: $clr1;
        font-size: 22px;
        text-align: center;
      }
      .detay {
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to bottom, #f0806c, #dc493a);
        height: 7%;
        width: 25%;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: $clr6;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .anlasmaliKurulus:hover {
      cursor: pointer;
      transform: scale(1.025);
    }
    @media only screen and (max-width: $sm) {
      width: 98%;
      .anlasmaliKurulus {
        width: 100%;
        min-height: 70vh;
      }
    }
  }
  #anlasmaliKuruluslarPopup {
    .gPopup-inner {
      max-width: 80vw;
      height: fit-content;
      max-height: 90vh;
      background-color: transparent;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}
