.iletisim {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  > * {
    margin: 1%;
    margin-top: 10vh;
  }
  @media only screen and (max-width: $sm) {
    flex-direction: column;
    .content:nth-of-type(1) {
      * {
        font-size: 18px !important;
        text-align: left !important;
      }
    }
    .content:nth-of-type(2) {
      > iframe {
        height: 100% !important;
        width: 100% !important;
      }
    }
    .content {
      width: 45vh !important;
      //height: 45vh;
    }
  }
  .content {
    width: 40%;
  }
  .content:nth-of-type(1) {
    opacity: 0.9;
    order: 1;
    margin-bottom: 5vh;
    //@extend .container;

    * {
      font-size: 26px;
      color: $clr1;
      > .p-bold {
        min-width: 150px;
        text-align: right;
      }
      > .p-2 {
        text-transform: capitalize;
        //word-break: break-all;
      }
    }

    @media only screen and (max-width: $sm) {
      .span-p {
        flex-direction: column;
        > .p-bold {
        }
      }
    }
  }
  .content:nth-of-type(2) {
    opacity: 1;
    background-color: transparent;
    padding: 0%;
    max-width: 100%;
    width: fit-content;
    iframe {
      width: 25vw;
      height: 25vw;
      border-radius: 10px;
      box-shadow: 0 0 4px 2px #ddd;
    }
  }
}
