.nasilUyeOlabilirim {
  @media only screen and (max-width: $sm) {
    .innernuo {
      width: 90%;
      display: flex;
      flex-direction: column-reverse;
      .content {
        width: 100%;
        padding: 5vw 0 5vw 0;
      }
      .formlarIban {
        border-radius: 5px;
        .formlar {
          display: flex;
          flex-direction: column;
          width: 100%;
          > * {
            margin: 10px;
          }
          .title {
            margin: 0%;
            padding: 5px;
            background-color: $clr1;
            width: 100%;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px;
            > span {
              font-size: 20px;
              color: $clr6;
            }
          }
          .bankalar {
            display: flex;
            width: 96%;
            justify-content: space-evenly;
            flex-direction: column;
            margin: 2%;
            .bankaStyle {
              border: solid 5px #4392f1;
              background-color: $clr3;
              > img {
              }
              > span {
                color: $clr1;
              }
            }
          }
        }
        .iban {
          margin: 2vw 0 2vw 0;
          font-size: 26px;
          font-weight: 500px;
          text-align: center;
        }
      }
      .aciklama {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        > * {
          margin: 1rem;
        }
        > img {
          width: 95px;
        }
        .p-1 {
          font-size: 24px;
          text-align: center;
        }
        .p-1:nth-of-type(2) {
          width: 70%;
          @media only screen and (max-width: $sm) {
            width: 100%;
          }
        }
        .p-bold {
          font-size: 30px;
        }
      }
    }
  }
  @media only screen and (min-width: $sm) {
    .innernuo {
      width: 90%;
      display: flex;
      .content {
        width: 48%;
        padding: 5vw 0 5vw 0;
      }
      .formlarIban {
        border-radius: 5px;
        .formlar {
          display: flex;
          flex-direction: column;
          > * {
            margin: 10px;
          }
          .title {
            margin: 0%;
            padding: 5px;
            background-color: $clr1;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px;
            width: 100%;
            > span {
              font-size: 20px;
              color: $clr6;
            }
          }
          .bankalar {
            display: flex;
            width: 97%;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .bankaStyle {
              border: solid 5px #4392f1;
              background-color: $clr3;
              > img {
              }
              > span {
                color: $clr1;
              }
            }
          }
        }
        .iban {
          margin: 2vw 0 2vw 0;
          font-size: 26px;
          font-weight: 500px;
          text-align: center;
        }
      }
      .aciklama {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        > * {
          margin: 1rem;
        }
        > img {
          width: 95px;
        }
        .p-1 {
          font-size: 24px;
          text-align: center;
        }
        .p-1:nth-of-type(2) {
          width: 70%;
        }
        .p-bold {
          font-size: 30px;
        }
      }
    }
  }
}

.banka {
  @media only screen and (max-width: $sm) {
    border-radius: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 197px;
    height: 197px;
    > img {
      width: 96%;
    }
    > a {
      display: none;
    }
  }
  @media only screen and (min-width: $sm) and (max-width: $md) {
    border-radius: 50%;
    width: 31.3%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 197px;
    height: 197px;
    > img {
      width: 96%;
    }
    > a {
      display: none;
    }
  }
  @media only screen and (min-width: $md) {
    border-radius: 50%;
    //width: 31.3%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 197px;
    height: 197px;
    > img {
      width: 96%;
    }
    > a {
      display: none;
    }
  }
}
.banka:hover {
  cursor: pointer;
  transform: scale(1.05);
}
