.yardimlarimiz {
	@media only screen and (max-width: $sm) {
		.mainTitle,
		h4 {
			text-align: center !important;
		}
	}
	.content {
		width: 100%;

		@media only screen and (max-width: $sm) {
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		> * {
		}
		> .mainTitle {
		}
		> img {
			@media only screen and (min-width: $sm) {
				width: 25%;
			}
			@media only screen and (max-width: $sm) {
				width: 90%;
			}
		}
		> ol {
			display: inline;
			font-size: 18px;
			> li {
				margin: 1% 5% 1% 5%;
			}
		}
	}
	.content:nth-of-type(odd) {
		> img {
			float: left;
		}
	}
	.content:nth-of-type(even) {
		> img {
			float: right;
		}
	}
	> ol {
		display: inline;
	}
	> .content:nth-of-type(3) {
		padding: 3%;
		h4 {
			font-size: 18px;
			text-align: left;
			margin-bottom: 25px;
		}
		> p {
			font-size: 18px;
		}
	}
}
