.yonetimKurulu {
  .yonetimKuruluWrapper {
    display: flex;
    flex-wrap: wrap;
    .personel {
      @media only screen and (max-width: $sm) {
        width: 98%;
        margin: 1%;
      }
      @media only screen and (min-width: $sm) {
        width: 23%;
        margin: 1%;
      }
      display: flex;
      flex-direction: column;

      > img {
        width: 100%;
      }
      > p {
        @extend .p-1;
        font-size: 26px;
        text-align: center;
      }
      .p-bold {
        font-size: 30px;
      }
    }
  }
}
